/*Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald:wght@200..700&display=swap");

/* wildcard selector to overide browser default settings*/
* {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* General Styles */
body {
  min-height: 100vh; /* Full height of the viewport */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  font-family: "Lato", sans-serif; /* Default font for the body */
  color: #3a3a3a; /* Default text color */
}

h1, h2, h3 {
  font-family: "Oswald", sans-serif; /* Oswald font for headings */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 2px; /* Spacing between letters */
  color: #252525; /* Dark color for headings */
}

/* Header */
header {
  background-color: #ffffff; /* white background */
  position: fixed;
  width: 100%; /* Full width */
  box-shadow: 0 5px 4px #3a3a3a; /* Subtle shadow for depth */
  z-index: 1000; /* Ensure header is above other content */
  padding: 0 1em; /* Padding on the left */
  display: flex; /* Flexbox for layout */
  justify-content: space-between; /* Space between items */
  align-items: baseline; /* Align items to the baseline */
}

header a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Link color */
}

#menu {
  font-size: 110%; /* Slightly larger font size for menu */
  letter-spacing: 4px; /* Increased letter spacing for menu items */
  text-transform: uppercase; /* Uppercase text for menu */
  list-style-type: none; /* Remove default list style */
}

#menu > li {
  margin-bottom: 1em; /* Space between menu items */
  margin-top: 1em; /* Space between menu items */
}

.active {
  border-bottom: 1px solid #3a3a3a; /* Underline for active menu item */
}

nav {
  position: absolute; /* Positioning the nav */
  background-color: #ffffff; /* White background for nav */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  box-shadow: 0 5px 4px #3a3a3a; /* Subtle shadow for depth */
  padding: 0 1rem; /* Padding for nav */
  display: none; /* Hide by default */
  top: 100%; /* position below header by starting 100% the way down the parent element*/
}

/* Nav-Toggle */
#nav-toggle:checked ~ nav {
  display: block; /* Show nav when toggle is checked */
}

/* Nav-Toggle */
#nav-toggle {
  display: none; /* Hide the checkbox */
}

.nav-toggle-label {
  font-size: 2rem;
}

/* Main */
main {
  flex: 1 0 auto; /* Allow main to grow and fill available space */
  margin-top: 47px;
}

/* Hero Section */
#hero {
  height: 600px;
  width: 100%;
  background: url("../images/hero-image.webp") no-repeat center center/cover;
  position: relative;
}

#cover-text {
  background-color: rgba(241, 109, 107, 0.7); /* Semi-transparent background */
  font-size: 130%; /* Font size for cover text */
  position: absolute;
  bottom: 30px;
  width: 80%;
  min-height: 100px; /* Minimum height for cover text */
  padding-top: 40px; /* Padding on top */
  padding-left: 10px; /* Padding on left */
}

#cover-text > h2, #cover-text > h3 {
  color: #ffffff; /* White text color for cover text */
}

/* Reasons Section */
#reasons {
  width: 90%;
  margin: 20px auto; /* Center align the reasons section */
}


#reasons h2 {
  font-size: 280%; /* Larger font size for reasons heading */
  text-align: center; /* Center align the heading */
  margin-bottom: 20px; /* Space below the heading */
}
 
#benefits-physical > div, #benefits-mental > div {
  line-height: 20px; /* Line height for text */
  margin-bottom: 20px;
}

#benefits p {
  padding: 0 20px; /* Padding for benefits section */
}

hr {
  border-top: 1px solid #3a3a3a; /* Horizontal rule style */
  margin: 5px 0; /* Space above and below the rule */
}

/* center image */
#circle-cover-bg {
  background: url("../images/reasons-image.webp") no-repeat top center/cover;
  width: 90vw;
  height: 90vw; /* Square aspect ratio */
  margin-bottom: 20px; /* Space below the image */
  border-radius: 50%; /* Circular shape */
  max-width: 300px; /* Maximum width for the image */
  max-height: 300px; /* Maximum height for the image */
}

#benefits-image {
  display: flex; /* Flexbox for layout */
  justify-content: center; /* Center align the image */
  align-items: center; /* Center align the image vertically */
}

/* Footer */
#social-networks {
text-align: center;
padding: 20px 0; /* Padding around the footer */
display: flex; /* Flexbox for layout */
justify-content: space-evenly;
list-style-type: none; /* Remove default list style */
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a; /* Icon color */
}

/* media queries */
/* Tablet screens above 768px */
@media screen and (min-width: 768px) {
  /* Header */
  nav {
    display: block; /* Show nav on larger screens */
    position: relative; /* Relative positioning */
    box-shadow: none; /* Remove shadow on larger screens */
    width: fit-content; /* Fit content width */
    padding-right: 1rem; /* Padding on the right */
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1em; /* Space between menu items */
  }

  .nav-toggle-label {
    display: none; /* Hide nav toggle label on larger screens */
  }

  #logo {
    font-size: 280%; /* Larger logo font size */
    line-height: 75px; /* Adjust line height for larger logo */
    margin: 0 0.5rem;
  }

  /* Main */
  main {
    margin-top: 79px; /* Remove top margin on larger screens */
  }

  /*Hero Section */
  #cover-text {
    width: 300px; /* Adjust width for cover text */
    right: 50px; /* Position cover text to the right */
  }

  /* Reasons Section */
  #benefits-physical, #benefits-mental {
    display: flex; /* Flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    width: 100%; /* Full width */
  }

  #benefits-physical > div, #benefits-mental > div {
    width: 75%; /* Full width */
  }

  #benefits-mental > div {
    text-align: end; /* Align text to the end */
    align-self: flex-end; /* Align item to the end */
  }

}

/* Desktop screens above 992px */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a; /* Underline on hover */
    }
}

/*Desktops above 1200px */
@media screen and (min-width: 1200px) {

  #benefits {
    display: flex; /* Flexbox for layout */
    flex-direction: row; /* Stack items horizontally */
    justify-content: space-between;
  }
  
  #benefits > div {
    flex: 1; /* Allow items to grow equally */
  }

  #benefits-image {
   order: 0; /* Ensure image is first */
  }

  #benefits-mental {
   order: 1; /* Ensure mental benefits are second */
  }

  #benefits-mental > div {
    align-self: flex-start; 
  }

  #benefits-physical > div {
    align-self: flex-end; 
  }
 
}