/*Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald:wght@200..700&display=swap');

/* wildcard selector to overide browser default settings*/
* {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* General Styles */
body {
    min-height: 100vh; /* Full height of the viewport */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    font-family: 'Lato', sans-serif; /* Default font for the body */
    color: #3a3a3a; /* Default text color */
}
/* Header */
header {
    background-color: #ffffff; /* white background */
    color: white; /* White text */
    padding: 15px; /* Some padding */
    text-align: left; /* left  text */
    position:fixed
    z-index: 1000; /* Ensure header is above other content */
    width: 100%; /* Full width */
    box-shadow: 0 5px 4px #3a3a3a; /* Subtle shadow for depth */

    }

h1 {
    font-family: 'Oswald', sans-serif; /* Oswald font for headings */
}
/* Main */
main {
    background-color: olive; /* Olive background */
    color: black; /* Black text */
    padding: 20px; /* Padding around the main content */
    flex: 1 0 auto; /* Allow main to grow and fill available space */
}
/* Footer */
footer {
    background-color: #333; /* Dark background */
    color: white; /* White text */
    text-align: center; /* Centered text */
    padding: 10px; /* Padding for footer */
    position: fixed; /* Fixed position at the bottom */
    width: 100%; /* Full width */
    bottom: 0; /* Align to the bottom */
}